# Copyright (c) 2018, 2023, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

# Properties to generate TF variables file for cluster creation from property file oci.props
#
# Copy this file to oci.props and update it with your own info, see example values provided for each property
#

# OCID can be obtained from the user info page in the OCI console
#user.ocid=ocid1.user.oc1..aaaaaaaast7s6jdho6mh2dqvyqcychofaiv5lhztkx7u5jlr5wwuhhmewq
user.ocid= 

# name of OKE cluster
#okeclustername=myokecluster
okeclustername=

# name of tfvars file (no extention) to generate
#tfvars.filename=myokeclustertf
tfvars.filename=

# Required tenancy info
#region=us-phoenix-1
#tenancy.ocid=ocid1.tenancy.oc1..aaaaaahmcbb5mp2h6toh4vj7ax526xtmihrneoumyat557rvlolsx63imq
#compartment.ocid=ocid1.compartment.oc1..aaaaaaaaxzwkinzejhkncuvfy67pmb6wb46ifrixtuikkrgnnrp4wswsu4xq
#compartment.name=QualityAssurance
region=
tenancy.ocid=
compartment.ocid=
compartment.name=


# API key fingerprint and private key location, needed for API access -- you should have added a public API key through the OCI console first, add escape backslash \ for each colon signt
#ociapi.pubkey.fingerprint=c8\:b2\:da\:b2\:e8\:96\:7e\:bf\:ac\:ee\:ce\:bc\:a8\:7f\:07\:c5
ociapi.pubkey.fingerprint=

# path to private OCI API key
#ocipk.path=/scratch/mkogan/.oci/oci_api_key.pem
ocipk.path=

# VCN CIDR -- must be unique within the compartment in the tenancy
# - assuming 1:1 cluster:vcn
# BE SURE TO SET BOTH VARS -- the first 2 octets for each variable have to match
#vcn.cidr.prefix=10.1
#vcn.cidr=10.1.0.0/16
vcn.cidr.prefix=
vcn.cidr=

# Node pool info
#nodepool.shape=VM.Standard2.1
#nodepool.ssh.pubkey=ssh-rsa AAAAB3NzaC1yc2EAAAAQABAAABAQC9FSfGdjjL+EZre2p5yLTAgtLsnp49AUVX1yY9V8guaXHol6UkvJWnyFHhL7s0qvWj2M2BYo6WAROVc0/054UFtmbd9zb2oZtGVk82VbT6aS74cMlqlY91H/rt9/t51Om9Sp5AvbJEzN0mkI4ndeG/5p12AUyg9m5XOdkgI2n4J8KFnDAI33YSGjxXb7UrkWSGl6XZBGUdeaExo3t2Ow8Kpl9T0Tq19qI+IncOecsCFj1tbM5voD8IWE2l0SW7V6oIqFJDMecq4IZusXdO+bPc+TKak7g82RUZd8PARpvYB5/7EOfVadxsXGRirGAKPjlXDuhwJYVRj1+IjZ+5Suxz mkogan@slc13kef
#nodepool.imagename=Oracle-Linux-7.4
nodepool.shape=
nodepool.ssh.pubkey=
nodepool.imagename=

# K8S version
#k8s.version=v1.10.11
k8s.version=

#location for terraform installation
#terraform.installdir=/scratch/mkogan/myterraformtest
terraform.installdir=
